*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

a {
  text-decoration: none;
}

h2,
h2 * {
  font-family: Cuprum;
  color: #32425c;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
}

h3,
h3 * {
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.item-grid {
  margin-bottom: 36px;
}

/*=============================================
=            Header            =
=============================================*/
.main-header {
  font-family: Cuprum;
}

.header-top {
  background-color: #293449;
}

.header-top .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 220px;
}

.logo {
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  width: 220px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
}

.header-navigation li {
  flex-grow: 1;
  flex-basis: 130px;
  display: flex;
}

.favorite-button,
.cart-button,
.order-button {
  color: #ffffff;
  font-size: 17px;
  padding: 9px 20px;
  align-items: center;
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.favorite-button,
.cart-button {
  padding-left: 45px;
  position: relative;
}

.favorite-button:hover,
.cart-button:hover {
  background-color: #161d29;
}

.favorite-button:active,
.cart-button:active {
  background-color: #161d29;
}

.favorite-button:active,
.cart-button:active,
.order-button:active {
  opacity: 0.5;
}

.favorite-button:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart-button:before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.favorite-button:hover:before,
.cart-button:hover:before {
  opacity: 1;
}

.favorite-button:active:before,
.cart-button:active:before {
  opacity: 0.5;
}

.order-button {
  background-color: #63a63e;
}

.order-button:hover {
  background-color: #5fbb2d;
}

.order-button:active {
  background-color: #518534;
}

.header-inner {
  background-color: #f4f7f9;
  padding-bottom: 43px;
  margin-bottom: 60px;
}

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 33px 0 15px;
}

.header-text {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  margin-left: 53px;
  width: 267px;
}

.header-contacts a {
  color: #ee3643;
  font-size: 21px;
  letter-spacing: 0.42px;
  border: 3px solid #ffffff;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 11px center;
  display: block;
  margin-bottom: 6px;
  padding: 8px 8px 8px 66px;
}

.header-contacts address {
  color: #32425c;
  font-size: 14px;
  font-style: normal;
  margin-left: 10px;
}

.user-navigation,
.user-navigation ul,
.main-navigation ul {
  list-style: none;
}

.user-navigation {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding-left: 0;
  align-self: flex-start;
  flex-wrap: wrap;
  margin-top: 12px;
}

.user-navigation>li+li {
  margin-left: 10px;
}

.user-navigation>li>a {
  color: #000000;
  font-size: 21px;
  background-color: #fff;
  padding: 14px 25px;
  display: block;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: inherit;
  opacity: 0.3;
}

li.login-link>a {
  position: relative;
  padding-left: 48px;
}

.login-link>a:before {
  content: "";
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 18px;
  left: 13px;
  width: 20px;
  height: 17px;
  display: block;
  opacity: 0.3;
}

.user-navigation>li>a:hover:before {
  opacity: 1;
}

.logout-link>a:hover {
  color: inherit;
}

.user-navigation ul a {
  color: #32425c;
  font-family: Cuprum;
  font-size: 16px;
  text-decoration: underline;
}

.main-navigation {
  -webkit-box-shadow: inset 0 -5px 0 #293449;
  box-shadow: inset 0 -5px 0 #293449;
  /* ? */
  background-color: #32425c;
}

.main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: center;
}

.main-navigation a {
  color: #ffffff;
  font-size: 17px;
  padding: 18px 32px;
  display: block;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  opacity: 0.5;
  /* ? */
}

.search-form {
  position: relative;
}

.search-form input[type="text"] {
  color: #000000;
  font-family: Cuprum;
  font-size: 17px;
  background-color: transparent;
  outline: none;
  border: none;
  width: 270px;
  height: 42px;
  padding-left: 53px;
}

.search-form svg {
  position: absolute;
  top: 12px;
  left: 17px;
}

.search-form svg path {
  opacity: .3;
}

.search-form input[type="text"]:hover {
  background-color: #212a3a;
}

.search-form input[type="text"]:hover+svg path {
  opacity: 1;
}

.search-form input[type="text"]:focus {
  background-color: #fff;
}

.search-form input[type="text"]:focus+svg path {
  opacity: 1;
  fill: #ee3643;
}

.search-form input[type="text"]::-webkit-input-placeholder {
  color: #fff;
}

.search-form input[type="text"]:-ms-input-placeholder {
  color: #fff;
}

.search-form input[type="text"]::-ms-input-placeholder {
  color: #fff;
}

.search-form input[type="text"]::placeholder {
  color: #fff;
}




/*=====  End of Header  ======*/


/*=============================================
=            Items            =
=============================================*/

.item-list {
  margin: 0 -10px;
}

.item-list::after {
  content: "";
  display: table;
  clear: both;
}

.item {
  padding: 25px;
  width: 300px;
  height: 125px;
  margin: 0 10px 17px;
  float: left;
}

.slider {
  width: 620px;
  height: 266px;
  padding: 0;
}

.item h3 {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.item-materials {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 208px 31px;
  background-color: #ffbf47;
}

.item-tool {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 194px 34px;
  background-color: #3bbce3;
}

.item-technics {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 188px 31px;
  background-color: #dc91d8;
}

.item-discounts {
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
  background-position: 198px 28px;
  background-color: #8ed78f;
}

.item-delivery {
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
  background-position: 193px 31px;
  background-color: #ffc047;
}

.read-more {
  background-color: rgba(0, 0, 0, .1);
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Cuprum;
  line-height: 18px;
  width: 135px;
  display: block;
  padding: 10px;
  border-radius: 3px;
  text-align: center;
}

.read-more:hover {
  background-color: rgba(0, 0, 0, .2);
}

.read-more:active {
  background-color: rgba(0, 0, 0, .3);
}

/*=====  End of Items  ======*/


/*=============================================
=            Slider            =
=============================================*/
.slider-container {
  position: relative;
}

.slider-item {
  position: relative;
  display: none;
}

.slider-item.active {
  display: block;
}

.slider-item figure {
  background-color: #000;
  position: relative;
  margin: 0;
  height: 266px;
}

.slider-item figcaption {
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: Cuprum;
  padding: 31px 25px;
}

.slider-item figcaption span {
  font-size: 36px;
  text-transform: uppercase;
}

.slider-item .button {
  position: absolute;
  top: 208px;
  left: 26px;
}

.slider-button {
  background-color: transparent;
  text-indent: -9999px;
  border: none;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  display: block;
  width: 22px;
  height: 40px;
  cursor: pointer;
}

.button-back {
  background-image: url("../img/icon-left.svg");
  left: 26px;
}

.button-next {
  background-image: url("../img/icon-right.svg");
  right: 26px;
}

/*=====  End of Slider  ======*/




/*=============================================
=            Buttons            =
=============================================*/

.button {
  font-family: Cuprum;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  outline: none;
  padding: 11px 48px;
  border-radius: 3px;
  line-height: 18px
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/*=====  End of Buttons  ======*/




/*=============================================
=            Manufacturers Section           =
=============================================*/


.page-header {
  padding: 25px 25px 24px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.page-header h2 {
  margin: 0;
}

.manufacturers-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.manufacturers-list li {
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;

  display: flex;
}

.manufacturers-list li:nth-child(4n) {
  margin-right: 0;
}

.manufacturers-list li:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturers-list li:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.manufacturers-list li a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manufacturers-list li:active a {
  opacity: 0.3;
}

/*=====  End of Manufacturers Section ======*/



/*=============================================
=            About section            =
=============================================*/
.index-columns .container {
  display: flex;
  justify-content: space-between;
}

.index-columns {
  padding: 82px 0;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 30px;
}

.index-columns p {
  margin-top: 0;
  margin-bottom: 22px;
}

.about {
  width: 520px;
}

.transport-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
}

.transport-list li {
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  padding-left: 37px;
  margin-bottom: 19px;
}

.transport-list li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  margin-top: -1px;
  background: #ee3643;
  display: block;
}

.map {
  width: 300px;
}

.map-image {
  margin-bottom: 38px;
}

/*=====  End of About section  ======*/



/*=============================================
=            Footer            =
=============================================*/
.main-footer {
  background-color: #32425c;
  font-family: Cuprum;
}

.footer-top {
  padding-bottom: 21px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-bottom {
  padding: 35px 0;
  background-color: #293449;
}

.footer-bottom .container {
  display: flex;
}

.footer-logo {
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  width: 220px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav,
.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-nav {
  align-self: flex-end;
}

.footer-nav a,
.footer-menu a {
  font-size: 18px;
  border-bottom: 1px solid transparent;
}

.footer-nav li:hover a,
.footer-menu li:hover a {
  border-bottom-color: inherit;
}

.footer-nav li:active a,
.footer-menu li:active a {
  opacity: 0.5;
  border-bottom-color: transparent;
}

.footer-nav li {
  margin-left: 59px;
}

.footer-nav li:first-child {
  margin-left: 0;
}

.footer-nav a {
  color: #f1f5f7;

}

.footer-menu li {
  margin-left: 60px;
}

.footer-menu li:first-child {
  margin-left: 0;
}

.footer-menu a {
  color: #ffd180;
}

.footer-contacts {
  color: #f3f7f9;
  font-size: 18px;
  margin: 0;
}

.footer-social {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0 auto;
}

.social-button {
  background-color: #212a3a;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: block;
  width: 42px;
  height: 42px;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.social-button-vk {
  background-image: url("../img/icon-vk.svg");
}

.social-button-fb {
  background-image: url("../img/icon-fb.svg");
}

.social-button-in {
  background-image: url("../img/icon-insta.svg");
}

.footer-mail,
.footer-copyright,
.footer-develop {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
}
.footer-develop {
  margin-left: 53px;
  margin-right: 24px;
}

.footer-mail a,
.footer-develop a {
  color: #ffd180;
}

.footer-mail a {
  border-bottom: 1px solid transparent;
}

.footer-mail a:hover {
  border-bottom-color: inherit;
}

.footer-mail a:active {
  border-bottom-color: transparent;
  color: #ee3643;
}

/*=====  End of Footer  ======*/


/*=============================================
=            Catalog            =
=============================================*/

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  position: relative;
  width: 218px;
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #eaeaea;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 60px;

  text-indent: -9999px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/new.png") no-repeat 0 0;
}

.catalog-item-buttons {
  display: none;
}

.catalog-item-image {
  width: 218px;
  height: 168px;
  margin: 0;
  order: 1;
}

.catalog-item-image img {
  max-width: 100%;
}

.catalog-item a {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.catalog-item h3 {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  order: 2;
}

.catalog-item-price {
  margin: 0;
  margin-top: auto;
  order: 3;
}

.catalog-price-old {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #a9a9a9;
  font-size: 17px;
  text-decoration: line-through;
  text-transform: uppercase;
  display: block;
}

.catalog-price {
  position: relative;
  width: 125px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;

  color: #fff;
  background: #ee3643;
  border-radius: 3px;
  display: block;
}

.catalog-price::after {
  content: '';
  position: absolute;
  border: 18px solid #ee3643;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  top: 0;
  bottom: 0;
  left: 100%;
}

.catalog-button {
  border: 3px solid transparent;
  outline: none;
  font-family: Cuprum;
  font-size: 14px;
  text-transform: uppercase;
}

.catalog-cart-button {
  color: #ffffff;
  border-bottom-color: #367315;
  background-color: #63a63e;
}

.catalog-cart-button:hover {
  border-bottom-color: #367315;
  background-color: #5fbb2d;
}

.catalog-cart-button:active {
  background-color: #518534;
}

.catalog-favorite-button {
  color: #32425c;
  border: 3px solid #63a63e;
  background-color: transparent;
}

.catalog-favorite-button:hover {
  border-color: #32425c;
}

.catalog-favorite-button:active {
  border-color: #32425c;
  opacity: 0.3;
}

.sorting h2 {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.sort-list {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f7f3ec;
}

.sort-list li {
  text-transform: uppercase;
}

.sort-list button {
  font-family: inherit;
  background-color: transparent;
  color: #a9a9a9;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.sort-button {
  text-transform: uppercase;
  border: none;
  border-bottom: 1px dotted #ee3643;
}

.sort-button:hover {
  color: #000;
  border-bottom-style: solid;
}

.sort-button:active {
  color: #ee3643;
  border-bottom-color: transparent;
}

.compare-button {
  text-indent: -9999px;
  display: block;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 0 0;
  border: none;
}

.compare-up-button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23c5c5c5' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}

.compare-up-button:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23231F20' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}

.compare-up-button:active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23ee3643' d='M5.5 0L0 10h11z'/%3E%3C/svg%3E");
}

.compare-down-button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23c5c5c5' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}

.compare-down-button:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23231F20' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}

.compare-down-button:active {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath fill='%23ee3643' d='M5.5 10L0 0h11'/%3E%3C/svg%3E");
}

.filter ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.filter-option {
  position: relative;
}

.filter-option input[type=radio]+label,
.filter-option input[type=checkbox]+label {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  vertical-align: middle;
}

.filter-option input[type=radio]+label::before,
.filter-option input[type=checkbox]+label::before {
  content: "";
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  display: inline-block;
  width: 27px;
  height: 25px;
  margin-right: 8px;
  vertical-align: middle;
  opacity: 0.8;
}

.filter-option input[type=radio]+label::before {
  background-image: url("../img/radio-off.svg");
}

.filter-option input[type=radio]:checked+label::before {
  background-image: url("../img/radio-on.svg");
}


.filter-option input[type=checkbox]+label::before {
  background-image: url("../img/checkbox-off.svg");
}

.filter-option input[type=checkbox]:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filter-option:hover input[type=radio]+label::before,
.filter-option:hover input[type=checkbox]+label::before {
  opacity: 1;
}

.filter-option input[type=radio]:disabled+label,
.filter-option input[type=checkbox]:disabled+label {
  opacity: 0.3;
}


/*=====  End of Catalog  ======*/

.pagination-list {
  list-style: none;
  padding-left: 0;
}

.pagination-list a {
  border: 1px solid #e5e5e5;
  color: inherit;
}

.pagination-list li:hover a {
  border-color: #bdc6ca;
  color: inherit;
}

.pagination-list li:hover a {
  border-color: #ee3643;
  color: inherit;
}

.pagination-item-current a {
  background-color: #ee3643;
  border-color: #ee3643;
  color: #fff;
}
